<app-header></app-header>

<div class="container mt-5 m-auto">
  <h1 class="head">Fire Calculator</h1>
  <h4 class="head1">Financial Independence Retire Early Calculator</h4>
</div>

<div class="container mt-5 d-flex">
  <div class="container input-fields">
    <h4>Input fields</h4>

    <form>
      <div class="main">
        <div class="input d-flex mt-4">
          <label for="" class="col-lg-6">Monthly Expense : </label>
          <input
            class="col-lg-6"
            name="monthly"
            type="number"
            [(ngModel)]="monthly"
          />
        </div>

        <div class="input d-flex mt-3">
          <label for="" class="col-lg-6">Current Age : </label>
          <input
            class="col-lg-6"
            name="CurrentAge"
            type="number"
            [(ngModel)]="CurrentAge"
          />
        </div>

        <div class="input d-flex mt-3">
          <label for="" class="col-lg-6">Retirement Age : </label>
          <input
            class="col-lg-6"
            name="retirementAge"
            type="number"
            [(ngModel)]="retirementAge"
          />
        </div>

        <div class="input d-flex mt-3">
          <label for="" class="col-lg-6">Assumed Inflation Rate : </label>
          <input
            type="number"
            class="col-lg-6"
            name="inflation"
            [(ngModel)]="inflation"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="container output-fields px-5">
    <h4 class="mt-3">Output Fields</h4>

    <div class="main">
      <div class="output d-flex mt-4">
        <div class="e-today">
          <p class="label">Expense Today</p>
          <span name="expenseToday">{{ expenseToday }}</span>
        </div>

        <div class="e-today m-auto px-5">
          <p class="label">
            Expense at <span>{{ retirementAge }}</span>
          </p>
          <span name="expenseAtRetirement">{{ expenseAtRetirement }}</span>
        </div>
      </div>

      <div class="output d-flex mt-4">
        <div class="e-today">
          <p class="label">Lean Fire</p>
          <span name="leanFire">{{ leanFire }}</span>
        </div>

        <div class="e-today m-auto px-5">
          <p class="label">Fire</p>
          <span name="fire">{{ fire }}</span>
        </div>
        <div class="e-today">
          <p class="label">Fat Fire</p>
          <span name="fatFire">{{ fatFire }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-success" (click)="fireCalculator()">
  Calculate
</button>
<!-- <input type="button" value="calculate" class="btn btn-success"> -->
<app-footer></app-footer>
